/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*                              END CSS RESET                                  */

/*                              GENERAL STYLE                                  */

.main_board_content h1,
.main_board_links a,
.display_title a,
.display_subtitle a,
.timeline_date h3,
.timeline_text h3,
.hire_me h2,
.hire_contact a{
    font-family: 'Source Sans Pro', sans-serif;
}

/*                                 MAIN BOARD                                  */

.main_board{
    height: 80vh;
    background-color: #1a1a1a;
}

.main_board_content{
    text-align: center;
    padding-top: 10%;
}

.main_board_content h1{
    color: #fff;
    font-size: 70px;
    line-height: 1.3;
}

.main_board_links{
    padding-top: 5%;
    margin: 0 auto;
}

.main_board_links a{
    text-decoration: none;
    color: #45798c;
    font-size: 40px;
    font-weight: lighter;
    vertical-align: middle;
}

.main_board_links div{
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
    margin-left: 27%;
}

.main_board_links div:hover a{
    color: #0e4b5b;
}

.main_board_links div:last-child{
   margin-left: 10%;
}

.main_board_links i#pdf_icon {
    color: #ea5253;
}

.main_board_links i#linkedIn_icon{
    color: #2c7cb5;
}

.zigzag_border{
    height: 60px;
    background-image: url('../image/zigzag.png');
    margin-top: -37px;
}

/*                                 DISPLAY                                    */

.display{
    width: 93%;
    max-width: 1280px;
    margin: 0 auto;
}

.display_title{
    text-align: center;
    margin-top: 8%;
}
.display_title a{
    font-size: 36px;
    font-weight: lighter;
    display: inline-block;
    cursor: pointer;
}

.display_title a:last-child:hover{
    color: #45798c;
}

.display_title a:last-child{
    margin-left: 20%;
}

.display_subtitle{
    margin-left: 26%;
    margin-top: 2%;
}

.display_subtitle a{
    font-size: 30px;
    font-weight: lighter;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

.display_subtitle a:last-child{
    margin-left: 7%;
}

.display_subtitle a:hover{
    color: #45798c;
}

/*                                 WEB.PHP                                    */

.display_all_projects{
    display: flex;
    flex-wrap: wrap;
    margin-left: 15%;
    margin-top: 6%;
}

.each_project{    
    border: 1px solid #e2e0e0;
    width: 34%;
    background: #fff;
    padding: 56px 17px;
    margin-bottom: 6%;
    cursor: pointer;
}

.each_project:hover img{
    opacity: 0.1;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.each_project img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.each_project:nth-of-type(2n){
    margin-left: 10%;
}

/*                                 INFO.PHP                                    */
.each_project_info{    
    border: 1px solid #e2e0e0;
    width: 34%;
    background: #fff;
    padding: 1px 31px;
    margin-bottom: 6%;
    cursor: pointer;
}

.each_project_info:hover img{
    opacity: 0.5;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.each_project_info img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.each_project_info:nth-of-type(2n){
    margin-left: 10%;
}


/*                                ABOUT.PHP                                   */

.about_timeline{
    margin-left: 8%;
    margin-top: 6%;
}

.timeline_date{
    float: left;
    width: 10%;
    margin-top: 4%;
}

.timeline_date div{
    background-color: #ddedd3;
    width: 98px;
}

.timeline_date div h3{
    font-size: 25px;
    text-align: center;
}

.timeline_date div:nth-of-type(2){
    margin-top: 47%;
}

.timeline_date div:nth-of-type(3) {
    margin-top: 126%;
}

.timeline_date div:nth-of-type(4) {
    margin-top: 15%;
}

.timeline_line{
    float: left;
}

.timeline_text{
    float: left;
    margin-top: 4%;
}

.timeline_text h3{
    font-size: 17px;
    text-align: left;
    margin-left: 10px;
}

.timeline_text h3:nth-of-type(2){
    margin-top: 19%;
}

.timeline_text h3:nth-of-type(3) {
    margin-top: 20%;
}

.timeline_text h3:nth-of-type(4) {
    margin-top: 15%;
}

.timeline_text h3:nth-of-type(5) {
    margin-top: 9%;
}

.highlight_timeline {
    background-color: #f7cfc9;
    height: 17px;
    display: inline-block;
}
/* about - contact */

.about_contact{
    float: right;
    width: 27%;
    margin-top: 8%;
}

.hire_me div {
    background-color: #ee836c;
    width: 46%;
    height: 49px;
}

.hire_me div h2 {
    color: #fff;
    font-weight: bold;
    font-size: 36px;
    vertical-align: buttom;
    padding-top: 5px;
    text-align: center;
}

.hire_contact {
    margin-top: 9%;
    margin-left: -13%;
}

.hire_contact a#contact_email {
    text-decoration: none;
    color: #b7b6b6;
    font-weight: bold;
    font-size: 30px;
}

.hire_contact a#contact_email:hover{
    border-bottom: 2px solid #b7b6b6;
}

.contact_social{
    margin-top: 15px;
    margin-left: 17%;
}

.contact_social i{
    color: #b7b6b6;
    font-size: 30px;
}

.contact_social a.social_link:first-child:hover i{
    color: black;
    transition:  .5s ease-out;
    -moz-transition: .5s ease-out;
    -webkit-transition: .5s ease-out;
    -o-transition: .5s ease-out;
}

.contact_social a.social_link:nth-of-type(2):hover i{
    color: #55acee;
    transition:  .5s ease-out;
    -moz-transition: .5s ease-out;
    -webkit-transition: .5s ease-out;
    -o-transition: .5s ease-out;
}

.contact_social a.social_link:nth-of-type(3):hover i{
    color: #3b5998;
    transition:  .5s ease-out;
    -moz-transition: .5s ease-out;
    -webkit-transition: .5s ease-out;
    -o-transition: .5s ease-out;
}


i.fa.fa-twitter.fa-2x {
    margin-left: 5%;
    margin-right: 5%;
}




/* Light Box*/

.lightbox{
    width: 85%;
    background-color: #fff;
}

p.info_project{
    display: none;
}