/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*                              END CSS RESET                                  */

/*                              GENERAL STYLE                                  */

.main_board_content h1,
.main_board_links a,
.display_title a,
.display_subtitle a{
    font-family: 'Source Sans Pro', sans-serif;
}

/*                                 MAIN BOARD                                  */

.main_board{
    height: 80vh;
    background-color: #1a1a1a;
}

.main_board_content{
    text-align: center;
    padding-top: 10%;
}

.main_board_content h1{
    color: #fff;
    font-size: 70px;
    line-height: 1.3;
}

.main_board_links{
    padding-top: 5%;
    margin: 0 auto;
}

.main_board_links a{
    text-decoration: none;
    color: #45798c;
    font-size: 40px;
    font-weight: lighter;
    vertical-align: middle;
}

.main_board_links div{
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
    margin-left: 27%;
}

.main_board_links div:hover a{
    color: #0e4b5b;
}

.main_board_links div:last-child{
   margin-left: 10%;
}

.main_board_links i#pdf_icon {
    color: #ea5253;
}

.main_board_links i#linkedIn_icon{
    color: #2c7cb5;
}

.zigzag_border{
    height: 60px;
    background-image: url('../image/zigzag.png');
    margin-top: -37px;
}

/*                                 DISPLAY                                    */
.display_title{
    text-align: center;
    margin-top: 8%;
}
.display_title a{
    font-size: 36px;
    font-weight: lighter;
    display: inline-block;
    cursor: pointer;
}

.display_title a:last-child:hover{
    color: #45798c;
}

.display_title a:last-child{
    margin-left: 20%;
}

.display_subtitle{
    margin-left: 27%;
    margin-top: 2%;
}

.display_subtitle a{
    font-size: 30px;
    font-weight: lighter;
    display: inline-block;
    cursor: pointer;
}

.display_subtitle a:last-child{
    margin-left: 7%;
}

.display_subtitle a:hover{
    color: #45798c;
}