/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-Jan-2017, 1:24:07 PM
    Author     : tchanos
*/

/************** NAV ***************/
 html{
     margin: 0;
     padding: 0;
 }
 a {
     text-decoration: none;
 }
.navigation{
    background:#fff;
    width:100%;
    position: absolute;
    opacity: 1;
    height: 53px;
    top:0px;
    left: 0px;
    box-shadow:0 4px 2px 0px rgba(179,179,179, .5);
    -webkit-box-shadow:0 4px 2px 0px rgba(179,179,179, .5);
}

.navigation a {
    color:#535353;
    display:block;
    height: 34px;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transition: color .1s;
    transition: color .1s;
}

.navigation ul{ 
    list-style:none;
    text-decoration:none;
 }
 
.wrap-nav{
    text-align:center;
    margin: 0 auto;
}

.main_menu_list{
    min-width: 750px;

}
.main_menu_list li{
    float:left;
    width: 15%;
    height: 34px;
    vertical-align:central;
    line-height:80%;
    padding-left:2%;
    padding-right:2%;
}

#li_skills a:hover{
    border-bottom: 3px solid #308080;
    color: #308080;

}

#li_qualifications a:hover{
    border-bottom: 3px solid #314980;
    color: #314980;

}

#li_career a:hover{
    border-bottom: 3px solid #138BC4;
    color: #138BC4;

}

#li_portifolio a:hover{
    border-bottom: 3px solid #F0B14E;
    color: #F0B14E;

}

#li_contact a:hover{
    border-bottom: 3px solid #CAC3AB;
    color: #CAC3AB;

}