/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-Jan-2017, 1:24:07 PM
    Author     : tchanos
*/

/****** BULMA CARD *******/

.card {
    background-color: white;
    -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
    width: 33.33%;
    margin:0 1% 0 1%;
}

.card-header {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
    box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.card-header-title {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #363636;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-weight: 700;
    padding: 0.75rem;
}

.card-header-icon {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0.75rem;
}

.card-image {
    display: block;
    position: relative;
}

.card-content {
    padding: 1.5rem;
}

.card-footer {
    border-top: 1px solid #dbdbdb;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.card-footer-item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0.75rem;
}

.card-footer-item:not(:last-child) {
    border-right: 1px solid #dbdbdb;
}

.card .media:not(:last-child) {
    margin-bottom: 0.75rem;
}

/************** Common ***************/

 *{
     margin: 0;
     padding: 0;
 }
 html {
     max-width: 1420px;
     margin:0 auto;
 }
 a {
     text-decoration: none;
 }
 
 section {
     clear: both;
 }
 
 .f_sans{
      font-family: 'Open Sans', sans-serif;
 }
 .f_roboto {
     font-family: 'Roboto', sans-serif;
 }
 
 .f_orbitron {
     font-family: 'Orbitron', sans-serif;
 }
 
 .f_lato {
     font-family: 'Lato', sans-serif;
 }
 
.title {
    text-align: center;
    font-size:3em;
    padding-top: 30px; 
}

.wraper{
    margin-top:90px;
    margin-left: 10%;
}

.row{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-flex;
}
 
.right {
    float:right;
}
.left {
    float:left;
}

.clear{
    clear:both;
}

/************** NAV ***************/
.navigation{
    background:#fff;
    width:100%;
    position: fixed;
    opacity: 1;
    padding-top: 20px;
    height: 37px;
    top:0px;
    left: 0px;
    box-shadow:0 4px 2px 0px rgba(179,179,179, .5);
    -webkit-box-shadow:0 4px 2px 0px rgba(179,179,179, .5);
}

.navigation a {
    color:#535353;
    display:block;
    height: 34px;
    font-size: 1.8vw;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    -webkit-transition: color .1s;
    transition: color .1s;
    font-family: 'Roboto', sans-serif;

}

.navigation ul{ 
    list-style:none;
    text-decoration:none;
    width: 90%;
    margin: 0 auto;
 }
 
.wrap-nav{
    text-align:center;
    margin: 0 auto;
}

.main_menu_list{
    min-width: 750px;

}
.main_menu_list li{
    float:left;
    width: 16%;
    height: 34px;
    vertical-align:central;
    line-height:80%;
    padding-left:2%;
    padding-right:2%;
}

#li_skills a:hover{
    color: #308080;
}

#li_qualifications a:hover{
    color: #314980;
}

#li_career a:hover{
    color: #138BC4;
}

#li_portifolio a:hover{
    color: #F0B14E;
}

#li_contact a:hover{
    color: #CAC3AB;
}

.main_menu_list #li_skills:hover{
    border-bottom: 3px solid #308080;
    color: #308080;
    -webkit-transition: border .1s ease-in;
    -moz-transition: border .1s ease-in;
    -o-transition: border .1s ease-in;
    transition: border .1s ease-in;

}
.skills_active{
    border-bottom: 3px solid #308080;
    color: #308080;
    -webkit-transition: border .1s ease-in;
    -moz-transition: border .1s ease-in;
    -o-transition: border .1s ease-in;
    transition: border .1s ease-in;
}
.skills_active a{
    color: #308080;
}

.main_menu_list #li_qualifications:hover{
    border-bottom: 3px solid #314980;
    color: #314980;
    -webkit-transition: border .1s ease-in;
    -moz-transition: border .1s ease-in;
    -o-transition: border .1s ease-in;
    transition: border .1s ease-in;
    
}
.qualifications_active{
    border-bottom: 3px solid #314980;
    color: #314980;
    -webkit-transition: border .1s ease-in;
    -moz-transition: border .1s ease-in;
    -o-transition: border .1s ease-in;
    transition: border .1s ease-in;
}
.qualifications_active a{
    color: #314980;
}

.main_menu_list #li_career:hover{
    border-bottom: 3px solid #138BC4;
    color: #138BC4;
    -webkit-transition: border .1s ease-in;
    -moz-transition: border .1s ease-in;
    -o-transition: border .1s ease-in;
    transition: border .1s ease-in;
}

.career_active{
    border-bottom: 3px solid #138BC4;
    color: #138BC4;
    -webkit-transition: border .1s ease-in;
    -moz-transition: border .1s ease-in;
    -o-transition: border .1s ease-in;
    transition: border .1s ease-in;
}

.career_active a{
    color: #138BC4;
}

.main_menu_list #li_portifolio:hover{
    border-bottom: 3px solid #F0B14E;
    color: #F0B14E;
    -webkit-transition: border .1s ease-in;
    -moz-transition: border .1s ease-in;
    -o-transition: border .1s ease-in;
    transition: border .1s ease-in;
}

.portifolio_active{
    border-bottom: 3px solid #F0B14E;
    color: #F0B14E;
    -webkit-transition: border .1s ease-in;
    -moz-transition: border .1s ease-in;
    -o-transition: border .1s ease-in;
    transition: border .1s ease-in;
}

.portifolio_active a{
    color: #F0B14E;
}

.main_menu_list #li_contact:hover{
    border-bottom: 3px solid #CAC3AB;
    color: #CAC3AB;
    -webkit-transition: border .1s ease-in;
    -moz-transition: border .1s ease-in;
    -o-transition: border .1s ease-in;
    transition: border .1s ease-in;
}

.contact_active{
    border-bottom: 3px solid #CAC3AB;
    color: #CAC3AB;
    -webkit-transition: border .1s ease-in;
    -moz-transition: border .1s ease-in;
    -o-transition: border .1s ease-in;
    transition: border .1s ease-in;
}

.contact_active a{
    color: #CAC3AB;
}

.menu_ic_list #li_skills:hover{
    border-bottom: 3px solid #308080;
    color: #308080;
    -webkit-transition: border .1s ease-in;
    -moz-transition: border .1s ease-in;
    -o-transition: border .1s ease-in;
    transition: border .1s ease-in;

}

.menu_ic_list #li_qualifications:hover{
    border-bottom: 3px solid #314980;
    color: #314980;
    -webkit-transition: border .1s ease-in;
    -moz-transition: border .1s ease-in;
    -o-transition: border .1s ease-in;
    transition: border .1s ease-in;
    
}

.menu_ic_list #li_career:hover{
    border-bottom: 3px solid #138BC4;
    color: #138BC4;
    -webkit-transition: border .1s ease-in;
    -moz-transition: border .1s ease-in;
    -o-transition: border .1s ease-in;
    transition: border .1s ease-in;
}

.menu_ic_list #li_portifolio:hover{
    border-bottom: 3px solid #F0B14E;
    color: #F0B14E;
    -webkit-transition: border .1s ease-in;
    -moz-transition: border .1s ease-in;
    -o-transition: border .1s ease-in;
    transition: border .1s ease-in;
}

.menu_ic_list #li_contact:hover{
    border-bottom: 3px solid #CAC3AB;
    color: #CAC3AB;
    -webkit-transition: border .1s ease-in;
    -moz-transition: border .1s ease-in;
    -o-transition: border .1s ease-in;
    transition: border .1s ease-in;
}

.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility .1s, opacity .1s ease;
}

.show {
    visibility: visible;
    opacity: 1;
    transition: visibility .1s, opacity .1s ease;
}
/******** MEDIA QUERY FONTS INTRO *******/
@media only screen and (max-width:1800px){
    .intro h1{
        font-size:4em;
    }
    .intro h2{
        font-size: 3em;
    }
}

@media only screen and (max-width:1500px){
    .intro h1{
        font-size:3.5em;
    }
    .intro h2{
        font-size: 2.5em;
    }
}

@media only screen and (max-width:1200px){
        .intro h1{
        font-size:3em;
    }
    .intro h2{
        font-size:2em;
    }
}
/************** INTRO ***************/

.hello_world {
    background-image: url('../img/layout/backgrounds/bkghome_bmask.png');
    -webkit-background-position: center;
    -moz-background-position: center;
    -o-background-position: center;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-repeat: no-repeat;
    -moz-background-repeat: no-repeat;
    -o-background-repeat: no-repeat;
    background-attachment: fixed;
    height: 40em;
}
.intro {
    margin:0 auto;
    width: 60%;
    padding-top: 20%;
    max-height: 530px;
}

.intro h1{
    letter-spacing: 2px;
    color: #4C8246;
    text-align: center;
}
.intro span{
    color: #fff;
}
.intro h2{
    letter-spacing: 1.5px;
    color: #fff;
    text-align: center;
    margin-top:5%
}

.intro p{
    font-size: 1.5vw;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    margin-top: 18%;
}


/****** TOP ICON ********/
.go_top{
    background-color: #354b60;
    width: 40px;
    height: 37px;
    border-radius: 50%;
    position:fixed;
    top:92%;
    left: 90%;
}
.go_top a{
    color: #fff;
}

.go_top a:hover{
    color: #ced9e4;
}
.go_top div{
    margin-top: 8px;
    margin-left: 12px;
}

/************** More about ICON MENU ***************/

.more_about_me{
    margin-top: 80px;
    margin-bottom: 80px;
}

.more_about_me h2{
    text-align: center;
    font-size: 3vw;
    color:#535353;
}

.navigation_ic{
    margin-top: 80px;
}

.wrap_ic{
    width: 100%;
    overflow:auto;
}
.wrap_ic ul {
    list-style:none;
    text-decoration:none;
    width: 90%;
    overflow: auto;
    margin: 0 auto;
}

.menu_ic_list li{
    float:left;
    width: 16%;
    padding-left:2%;
    padding-right:2%;
    margin: 0 auto;
}

.menu_ic_list a{
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color:#535353;
    font-size: 1.8vw;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    -webkit-transition: color .1s;
    transition: color .1s;
    font-family: 'Roboto', sans-serif;
}

.menu_ic_list img{
    width: 65%;
    margin-top: 25%;
    margin-bottom: 15%;
    text-align: center;
}


/************** Skills ***************/
#skills{
    background-color: #F4F4F4;
    width: 100%;
    height: 600px;
}
.skill_wraper{
    margin-top: 50px;
    width: 100%;
}
.skills_title{
    color: #308080;
}

.skills_row{
    width: 90%;
    margin: 0 auto;
}

.skill{
    width: 25%;
}

.skill img{
    width: 50%;
    min-width: 110px;
    margin-left:23%;
}

.skill h4{
    text-align: center;
    font-weight: bold;
    color:#308080;
}
/************** Qualifications ***************/
#qualifications {
    width: 100%;
    overflow:auto;
    color:#314980;
}

.qualification_title{
    color:#314980;
}
/************** Career ***************/
#career {
    background-color:#F4F4F4; 
    height: 600px;
    width: 100%;
    color: #138BC4;
}
.job_position_title{
    font-weight: bold;
}
.career_title{
    color:#138BC4;
}

.career_row {
    width: 100%;
}

.job_position_right{
    float:right;
    width: 49%;
}

.job_position_left{
    width: 49%;
    float: left;
}

.career_img{
    float:left;
    width: 40%;
}

.career_description{
    float: right;
    width: 59%;
}

.career_img img{
    width: 100%;
    height: 100%;
}

.career_description img{
    width: 25px;
    height: 25px;
}
/************** Portifolio ***************/
#portifolio {
    height: 600px;
    width: 100%;
}

.portifolio_title{
    color:#F0B14E;
}
.maintenance h3{
    font-size:1.7em;
    word-spacing: 10px;
    letter-spacing: 10px;
    color: #2f88d0;
    padding-top:200px;
    text-align:center;
}

.maintenance img {
    position: absolute;
    left:40%;
    opacity: 0.2;
    z-index: -1;
    margin-top:65px;
    width: 20%
}
/************** Contact ***************/
#contact {
    background-color:#F4F4F4; 
    height: 600px;
    width: 100%;
}

.contact_title{
    color:#CAC3AB;
}

.center_div{
    width: 60%;
    margin: 0 auto;
    margin-top: 120px;
}

.center_div span{
    color:red;
    font-size: 20px;
    line-height: 1.5px;
}
#contact p{
    color:#CAC3AB;
    font-size: 20px;
    line-height: 1.3em;
    font-family: 'PT Sans', sans-serif;
}
.btn-form{
    margin-left: 0px; 
    padding-left: 0px; 
    margin-right: 0px;
}
form{

}
.contact-left{
    width: 49%;
}
.contact-right{
    width: 49%;

}
legend{
    color:#CAC3AB;
    line-height: 1.5em;
    word-spacing: 1.5px;
    text-align: initial;
    padding-bottom: 2%;
    font-size: 28px;
    font-weight: bold;

}

input[type=text], input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #CAC3AB;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
}
label {
    color: #CAC3AB;
}
textarea {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #CAC3AB;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
}

input[type=text]:focus, input[type=email]:focus {
    border: 2px solid #CAC3AB;
}

input[type=button]{
    text-decoration: none;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size:1em;
    letter-spacing: 2px;
    border-radius: 4px;
    background-color: #CAC3AB;
    border:1px solid #d9d9d9;
    color: #fff;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;

}
input[type=button]:hover{
    background-color: #fff;
    color: #CAC3AB;
    border:1px solid #CAC3AB;
}

/************** footer ***************/

.footer{
    background-color:#233140;
    height: 265px;
    width: 100%;
}

.footer a{
    text-decoration: none;
    color:#fff;
}

.resume{
    padding-top:20px;
    padding-bottom: 20px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 1em;
    background-color: #354b60;
}
.resume_ic{
    margin-top:20px;
}

.resume_ic a:hover{
    color: #adc0d2;
    font-size: 110%;
}

.info_icons{
    padding-top:20px;
    padding-bottom: 20px;
    color:#fff;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 1em;
    background-color: #314558;
}
.list_ic {
    padding-top: 20px;
}
.list_ic ul{
    list-style:none;
}

.list_ic li{
    display: inline;
    margin-left: 3%;
}
.list_ic a:hover{
    color:#adc0d2;
}
.copyright {
    font-size:12px;
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
    color:#6b8dae;
}
/***** Help Tip For Career*******/

#sesi:hover p{
	display:block;
	transform-origin: 100% 0%;

	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;

}

#sesi p{	/* The tooltip */
	display: none;
	text-align: left;
	background-color: #138BC4;
	padding: 20px;
	width: 300px;
	position: absolute;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	color: #FFF;
	font-size: 15px;
	line-height: 1.4;
        margin-top: 7%;
}

#sesi p:before{ /* The pointer of the tooltip */
	position: absolute;
	content: '';
	width:0;
	height: 0;
	border:6px solid transparent;
	border-bottom-color:#138BC4;
	right:10px;
	top:-12px;
}

#sesi p:after{ /* Prevents the tooltip from being hidden */
	width:100%;
	height:40px;
	content:'';
	position: absolute;
	top:-40px;
	left:0;
}

/******************** FINISH ********************/
#odebrecht:hover p{
	display:block;
	transform-origin: 100% 0%;

	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;

}

#odebrecht p{	/* The tooltip */
	display: none;
	text-align: left;
	background-color: #138BC4;
	padding: 20px;
	width: 300px;
	position: absolute;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	right: 170px;
	color: #FFF;
	font-size: 15px;
	line-height: 1.4;
        margin-top: 7%;
}

#odebrecht p:before{ /* The pointer of the tooltip */
	position: absolute;
	content: '';
	width:0;
	height: 0;
	border:6px solid transparent;
	border-bottom-color:#138BC4;
	right:10px;
	top:-12px;
}

#odebrecht p:after{ /* Prevents the tooltip from being hidden */
	width:100%;
	height:40px;
	content:'';
	position: absolute;
	top:-40px;
	left:0;
}

/******************** FINISH ********************/
#ancar:hover p{
	display:block;
	transform-origin: 100% 0%;

	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;

}

#ancar p{	/* The tooltip */
	display: none;
	text-align: left;
	background-color: #138BC4;
	padding: 20px;
	width: 300px;
	position: absolute;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	color: #FFF;
	font-size: 15px;
	line-height: 1.4;
        margin-top: 7%;
}

#ancar p:before{ /* The pointer of the tooltip */
	position: absolute;
	content: '';
	width:0;
	height: 0;
	border:6px solid transparent;
	border-bottom-color:#138BC4;
	right:10px;
	top:-12px;
}

#ancar p:after{ /* Prevents the tooltip from being hidden */
	width:100%;
	height:40px;
	content:'';
	position: absolute;
	top:-40px;
	left:0;
}


/******************** FINISH ********************/
#kantukan:hover p{
	display:block;
	transform-origin: 100% 0%;

	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;

}

#kantukan p{	/* The tooltip */
	display: none;
	text-align: left;
	background-color: #138BC4;
	padding: 20px;
	width: 300px;
	position: absolute;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	right: 170px;
	color: #FFF;
	font-size: 15px;
	line-height: 1.4;
        margin-top: 7%;
}

#kantukan p:before{ /* The pointer of the tooltip */
	position: absolute;
	content: '';
	width:0;
	height: 0;
	border:6px solid transparent;
	border-bottom-color:#138BC4;
	right:10px;
	top:-12px;
}

#kantukan p:after{ /* Prevents the tooltip from being hidden */
	width:100%;
	height:40px;
	content:'';
	position: absolute;
	top:-40px;
	left:0;
}

/********** End of Help Tips for Career ************/

/*********** Help Tips for Qualification ***********/

#uniron:hover p{
	display:block;
	transform-origin: 100% 0%;

	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;

}

#uniron p{	/* The tooltip */
	display: none;
	text-align: left;
	background-color: #314980;
	padding: 20px;
	width: 300px;
	position: absolute;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	color: #FFF;
	font-size: 15px;
	line-height: 1.4;
        margin-top: 7%;
}

#uniron p:before{ /* The pointer of the tooltip */
	position: absolute;
	content: '';
	width:0;
	height: 0;
	border:6px solid transparent;
	border-bottom-color:#314980;
	right:10px;
	top:-12px;
}

#uniron p:after{ /* Prevents the tooltip from being hidden */
	width:100%;
	height:40px;
	content:'';
	position: absolute;
	top:-40px;
	left:0;
}

/******************** FINISH ********************/


#unisul:hover p{
	display:block;
	transform-origin: 100% 0%;

	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;

}

#unisul p{	/* The tooltip */
	display: none;
	text-align: left;
	background-color: #314980;
	padding: 20px;
	width: 300px;
	position: absolute;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	color: #FFF;
	font-size: 15px;
	line-height: 1.4;
        margin-top: 7%;
}

#unisul p:before{ /* The pointer of the tooltip */
	position: absolute;
	content: '';
	width:0;
	height: 0;
	border:6px solid transparent;
	border-bottom-color:#314980;
	right:10px;
	top:-12px;
}

#unisul p:after{ /* Prevents the tooltip from being hidden */
	width:100%;
	height:40px;
	content:'';
	position: absolute;
	top:-40px;
	left:0;
}

/******************** FINISH ********************/


#bcit:hover p{
	display:block;
	transform-origin: 100% 0%;

	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;

}

#bcit p{	/* The tooltip */
	display: none;
	text-align: left;
	background-color: #314980;
	padding: 20px;
	width: 300px;
	position: absolute;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	color: #FFF;
	font-size: 15px;
	line-height: 1.4;
        margin-top: 7%;
}

#bcit p:before{ /* The pointer of the tooltip */
	position: absolute;
	content: '';
	width:0;
	height: 0;
	border:6px solid transparent;
	border-bottom-color:#314980;
	right:10px;
	top:-12px;
}

#bcit p:after{ /* Prevents the tooltip from being hidden */
	width:100%;
	height:40px;
	content:'';
	position: absolute;
	top:-40px;
	left:0;
}

/******************** FINISH ********************/


#mcp:hover p{
	display:block;
	transform-origin: 100% 0%;

	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;

}

#mcp p{	/* The tooltip */
	display: none;
	text-align: left;
	background-color: #314980;
	padding: 20px;
	width: 300px;
	position: absolute;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	color: #FFF;
	font-size: 15px;
	line-height: 1.4;
        margin-top: -27%;
}

#mcp p:before{ /* The pointer of the tooltip */
	position: absolute;
	content: '';
	width:0;
	height: 0;
	border:6px solid transparent;
	border-bottom-color:#314980;
	right:10px;
	top:-12px;
}

#mcp p:after{ /* Prevents the tooltip from being hidden */
	width:100%;
	height:40px;
	content:'';
	position: absolute;
	top:-40px;
	left:0;
}

/******************** FINISH ********************/


#w7:hover p{
	display:block;
	transform-origin: 100% 0%;

	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;

}

#w7 p{	/* The tooltip */
	display: none;
	text-align: left;
	background-color: #314980;
	padding: 20px;
	width: 300px;
	position: absolute;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	color: #FFF;
	font-size: 15px;
	line-height: 1.4;
        margin-top: -30%;
}

#w7 p:before{ /* The pointer of the tooltip */
	position: absolute;
	content: '';
	width:0;
	height: 0;
	border:6px solid transparent;
	border-bottom-color:#314980;
	right:10px;
	top:-12px;
}

#w7 p:after{ /* Prevents the tooltip from being hidden */
	width:100%;
	height:40px;
	content:'';
	position: absolute;
	top:-40px;
	left:0;
}

/******************** FINISH ********************/


#network:hover p{
	display:block;
	transform-origin: 100% 0%;

	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;

}

#network p{	/* The tooltip */
	display: none;
	text-align: left;
	background-color: #314980;
	padding: 20px;
	width: 300px;
	position: absolute;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	color: #FFF;
	font-size: 15px;
	line-height: 1.4;
        margin-top: -30%;
}

#network p:before{ /* The pointer of the tooltip */
	position: absolute;
	content: '';
	width:0;
	height: 0;
	border:6px solid transparent;
	border-bottom-color:#314980;
	right:10px;
	top:-12px;
}

#network p:after{ /* Prevents the tooltip from being hidden */
	width:100%;
	height:40px;
	content:'';
	position: absolute;
	top:-40px;
	left:0;
}

/******************** FINISH ********************/


#ad:hover p{
	display:block;
	transform-origin: 100% 0%;

	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;

}

#ad p{	/* The tooltip */
	display: none;
	text-align: left;
	background-color: #314980;
	padding: 20px;
	width: 300px;
	position: absolute;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	color: #FFF;
	font-size: 15px;
	line-height: 1.4;
        margin-top: -30%;
}

#ad p:before{ /* The pointer of the tooltip */
	position: absolute;
	content: '';
	width:0;
	height: 0;
	border:6px solid transparent;
	border-bottom-color:#314980;
	right:10px;
	top:-12px;
}

#ad p:after{ /* Prevents the tooltip from being hidden */
	width:100%;
	height:40px;
	content:'';
	position: absolute;
	top:-40px;
	left:0;
}

/******************** FINISH ********************/


/* CSS animation */

@-webkit-keyframes fadeIn {
	0% { 
		opacity:0; 
		transform: scale(0.6);
	}

	100% {
		opacity:100%;
		transform: scale(1);
	}
}

@keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:100%; }
}